.map-viewer {
  flex: 1;
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.map-viewer-canvas {
  width: 100%;
  height: 100%;
  flex: 1;
  min-height: 18rem;
}

.map-viewer-empty {
  flex: 1;
  display: grid;
  place-items: center;
  color: var(--calcite-color-text-3);
  padding: 1rem;
  text-align: center;
}

.map-viewer-error {
  margin: 0;
  padding: 0.4rem 0.6rem;
  color: var(--calcite-color-status-danger);
}
